PYTHONPATH=/path/to/DocSorcerer/src:/path/to/DocSorcerer/src/ingestion:/path/to/DocSorcerer/src/api:/path/to/DocSorcerer/src/models:/path/to/DocSorcerer/src/storage
parser__chunk_size=1024
parser__chunk_overlap=20
parser__separator=" "
embed__model_name=BAAI/bge-small-en
db_vector__name=weaviate
db_vector__host=localhost
db_vector__port=8080
db_vector__collection__name=Vectors
db_no_sql__name=mongodb
db_no_sql__host=localhost
db_no_sql__port=27017
db_no_sql___database__name=Stores
db_no_sql__collection_index__name=IndexStore
db_no_sql__collection_document__name=DocStore
llm__context_window=3800
llm__num_output=256
llm__temperature=0.1
prompt_helper__context_window=3800
prompt_helper__context_window=256